{% extends 'base.html' %}
{% block content %}
    <body><br/>
    <div class="container bg-white shadow-md p-5 form-layout">
        <br>
        <h5>Welcome {{ user }}</h5>
        <br>
        <p> this is a dashboard</p>
        <a class="btn btn-info navbar-btn" type="button" href="{% url 'user-logout' %}"> logout</a>
    </div>
    <div class="container bg-white shadow-md p-5 form-layout">
        <br>
        <p>welocme to my website</p>
        <p>trying to make this secure asf</p>

    </div>
    <div class="container bg-white shadow-md p-5 form-layout">
        <br>
        <h5>two factor provide more security</h5>
        <br>
        <a class="btn btn-info navbar-btn" type="button" href="{% url 'two_factor:setup' %}"> Enable 2fa</a>
        <a class="btn btn-primary navbar-btn" type="button" href="{% url 'two_factor:profile' %}"> account settings
            2fa</a>
        {{ redirect_to_login_immediately }}

    </div>
    <br>
    </body>
{% endblock %}