<p><strong>Step 1:</strong></p><p><br>Press:<br><br><strong>CTRL&nbsp;+ SHIFT&nbsp;+ I </strong><br><br>This will bring
    up the developer tools. <br><br><br><strong>Step 2:</strong><br><br>Then <strong>right-click</strong> on the
    <strong>refresh icon</strong> in the <em>top left corner</em> of your browser.&nbsp; <br></p><p><br><strong>Step
    3:<br></strong><br>Select "<strong>Empty Cache and Hard Reload</strong>" <br><br><br><strong>DONE:<br></strong><br>Your
    static files should now be updated!</p>